<div class="nav-bar-container">
  <div class="left-content">
    <div class="logo-name">Kodak Hotel</div>
  </div>
  <div class="right-container">
    <div class="logout" (click)="onClickNavigate('logout')">Logout</div>
    <div class="profile" (click)="onClickNavigate('profile')">Profile</div>
    <div class="bookings" (click)="onClickNavigate('bookings')">Bookings</div>
    <div class="rooms" (click)="onClickNavigate('rooms')">Rooms</div>
    <div class="home" (click)="onClickNavigate('home')">Home</div>
  </div>
</div>